@import "../includes/imports";

#hero {
   background-image: url("../../../public/assets/hero-bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 1000px;
   .container {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
         margin-top: 300px;
         text-align: center;
      }
   }
}

#popular-game {
   margin-top: 100px;
}

#how-it-works {
   margin-top: 100px;

   .number {
      padding: 15px 20px;
      background-color: rgb(24, 22, 163);
      border-radius: 100px;
   }
}

#bettergamer {
   margin-top: 100px;

}